<div class="container">
    <div class="row filter-nav">
        <div class="filter-list">
            <div class="icon-list">
                <div class="item">
                    <a href="/nz/provider/amazon-prime-video"><img alt="Amazon Prime Video" title="Amazon Prime Video" src="https://images.justwatch.com/icon/52449861/s100" class="jw-provider-icon"></a>
                </div>
                <div class="item">
                        <a href="/nz/provider/amazon-prime-video"><img alt="Amazon Prime Video" title="Amazon Prime Video" src="https://images.justwatch.com/icon/52449861/s100" class="jw-provider-icon"></a>
                    </div>
                    <div class="item">
                            <a href="/nz/provider/amazon-prime-video"><img alt="Amazon Prime Video" title="Amazon Prime Video" src="https://images.justwatch.com/icon/52449861/s100" class="jw-provider-icon"></a>
                        </div>
                        <div class="item">
                                <a href="/nz/provider/amazon-prime-video"><img alt="Amazon Prime Video" title="Amazon Prime Video" src="https://images.justwatch.com/icon/52449861/s100" class="jw-provider-icon"></a>
                            </div><div class="item">
                                    <a href="/nz/provider/amazon-prime-video"><img alt="Amazon Prime Video" title="Amazon Prime Video" src="https://images.justwatch.com/icon/52449861/s100" class="jw-provider-icon"></a>
                                </div>
            </div>
        </div>
        <div class="row filter-list form-area">
                <div class="form-group col-xs-3">
                        <label for="source" class="sr-only"></label>
                        <input id="source" class="form-control input-group-lg reg_name" type="text" name="source"
                               title="Enter Source"
                               placeholder="Source"/>
                    </div>
              
                    <div class="form-group col-xs-3">
                        <label for="destination" class="sr-only"></label>
                        <input id="destination" class="form-control input-group-lg reg_name" type="text" name="destination"
                               title="Enter destination"
                               placeholder="Destination"/>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="date" class="sr-only"></label>
                        <input id="date" class="form-control input-group-lg reg_name" type="text" name="date"
                               title="Enter Travel Date"
                               placeholder="Travel Date"/>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="passenger" class="sr-only"></label>
                        <input id="firstname" class="form-control input-group-lg reg_name" type="text" name="firstname"
                               title="Enter Number of passenger"
                               placeholder="passenger"/>
                    </div>
                   
                    <div class="form-group col-xs-3">
                        <button type="button" (click)="getSearchResult()" class="btn btn-primary">Search Now</button>  
                    </div>
        </div>
    </div>
    <div class="row result-section">
        <div class="search-list">
            <div>
                    <a href="/nz/movie/toy-story-4" class=""><div class="title-poster" style="overflow: hidden;"><svg aria-hidden="true" data-prefix="fas" data-icon="bookmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-bookmark fa-w-12 title-poster-ribbon"><path fill="currentColor" d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z" class=""></path></svg><!----><!----><!----><img src="https://images.justwatch.com/poster/94806270/s332" alt="Toy Story 4" class="title-poster__image image-fade-in--out image-fade-in--in"><!----><!----></div></a>
            </div>
        </div>
    </div>
</div>



